.header__square-pic {
    height: 568px;
    width: 568px;
    background-color: #2f80ed;
    box-sizing: border-box;
    position: absolute;
    top: 64px;
    right: 0;
    align-self: center;
    margin: 0;
    border: 0;
  }